@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
}